html{
  background-image: url("backgr.jpg");
  font-weight: bold;
  font-family:sans-serif;
  color: white;
}



body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}