/* the format is repetetive for everything (color/border/border radius/background color/font color/alignment)
   goal: streamline it for less repetition
*/

html{
  background-image: url("/styles/images/background.png");
  background-size: cover;
  font-weight: bold;
  font-family:sans-serif;
  color: white;
}


body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#menuButton{
  margin-top: 0;
}

#teamShowcase {
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  border: 3px solid rgba(239, 239, 239, 0.8);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  resize: both;
  overflow: auto;
}

.placement{
  min-width: 1.5em;
}
.teamcontainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 50%;
  padding-left: 1em;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.teamInfoBorder{
  border: 3px solid rgba(239, 239, 239, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  padding-left:1em ;
  padding-right: 1em;
  width:90%;
  border-radius: 1em;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  font-size: larger;
}

.teamName{
  padding: 0;
  margin: 0;
}

.score{
  padding: 0;
  margin: 0;
}



#menu{
  margin-top: 1em;
  display:  flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}
#addTeam{
  border: 3px solid rgba(239, 239, 239, 0.7);
  border-radius: 1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0;
  padding: 1em;
}
#permanent{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 5em;
}

.inputMenuField{
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(239, 239, 239, 0.7);
  border-radius: 1em;
  color: white;
  text-align: center;
}



.actionBar{
  padding: 0;
  margin: 0;
  display:  flex;
  margin-left: 1em;
  height: 80%;
}


.scoreUpdater{
  max-width: 30%;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid rgba(239, 239, 239, 0.7);
  border-radius: 1em;
  color: white;
  padding: 1%;
  margin-left: 1em;
  text-align: center;
}

.editTeam{
  border: 3px solid rgba(239, 239, 239, 0.7);
  border-radius: 1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0;
  text-align: center;
  align-content: center;
  padding: 0 10% 0 10%;
  max-width: 30%;
}


#updateScoreButton{
  border: 3px solid rgba(239, 239, 239, 0.7);
  border-radius: 1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
}


#present{
  border: 3px solid rgba(239, 239, 239, 0.7);
  border-radius: 1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.editField{
  border: 3px solid rgba(239, 239, 239, 0.7);
  border-radius: 1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0;
  text-align: center;
  align-content: center;
  color: white;
  max-width: 100%;
}

.deleteTeam{
  border: 3px solid rgba(239, 239, 239, 0.7);
  border-radius: 1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 3em;
  margin-left: 10px;
  text-align: center;
  align-content: center;
  color: white;
}